.c-section--about {
	background: var(--color-secondary);

	.c-about {
		&__img {
			width: 40%;
		}

		&__desc {
			width: 60%;

			p {
				@include font-size(16px, 2.4);
				color: var(--color-white);
			}

			ul {
				background: var(--color-white-20);
				backdrop-filter: blur(20px);
				border-radius: $border-radius;
				padding: 16px;
				z-index: 2;
				li{
					padding: 16px;
				}
				svg{
					path{
						fill: #767676;
					}
				}
			}
		}
	}
}
