.c-about {
	gap: 48px;

	&__desc {
		color: var(--color-text);
		@include font-size(16px, 1.8);

		svg {
			vertical-align: middle;
			margin-left: 6px;
		}
	}

	&__video {
		@include mq($until:sm){
			flex-direction: column-reverse;
			align-items: center;
		}
		video {
			width: 100%;
			cursor: pointer;
			@include mq($from: md, $until: 1072px) {
				min-height: 225px !important;
			}
			@include mq($until: md) {
				min-height: 200px !important;
			}
		}
	}

	ul {
		li {
			list-style: arabic-indic;
		}
	}

	&__slider {
		-webkit-mask-image: linear-gradient(90deg, transparent 0%, #000 10%);
	}

	&__slide {
		width: 20%;
		margin-left: 16px;
		@include mq($from: md, $until: desktop) {
			width: 25%;
		}
		@include mq($from: sm, $until: md) {
			width: 35%;
		}
		@include mq($until: sm) {
			width: 54%;
		}

		img {
			width: 100%;
		}
	}

	h2 {
		color: var(--color-text);
		@include font-size(18px, 1.8);
		position: relative;
		width: max-content;
		margin-bottom: 16px;
		max-width: 100%;
		text-align: justify;

		&:before {
			content: "";
			width: 40%;
			height: 26px;
			background: #dcebf9;
			position: absolute;
			bottom: 0;
			right: -10px;
			z-index: -1;
		}
	}
}

.c-about-content {
	gap: 48px;
}
