.c-section--analysis {
	background: #EDF5F7;
}

.c-analysis-sec {
	flex: 1;
	padding: 36px 16px;
	gap: 24px;

	h2 {
		@include font-size(22px, 1.6);
	}

	img {
		height: 80px;
		width: 80px;
	}

	span {
		background: var(--color-white);
		padding: 24px;
		border-radius: 50%;
		height: 80px;
		width: 80px;
	}

	a {
		padding: 12px 16px;
		border-radius: 8px;
		gap: 38px;
		transition: all .2s linear;
		font-weight: 600;

		&:hover {
			background: var(--color-secondary);
		}
	}
	@include mq($until:sm){
		width: 100%;
		padding: 32px 0;
		border-radius: $border-radius;
		gap: 18px;
		h2 {
			@include font-size(18px, 1.6);
		}
		img ,span{
			height: 68px;
			width: 68px;
		}
	}
}

.c-analysis {
	border-radius: $border-radius;
	overflow: hidden;

	&__analysis {
		background: url("../images/bg-analysis.png") no-repeat;
		background-size: cover;

		a {
			background: var(--color-primary);
		}
	}

	&__price {
		background: var(--color-primary);

		path {
			transition: all .2s linear;
		}

		a {
			z-index: 1;
			&:hover {
				color: var(--color-white);

				path {
					stroke: var(--color-white);
				}
			}
		}
		&:before{
			content: "";
			background: url("../images/overlayer-sec.png");
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			z-index: 0;
		}
	}
	@include mq($until:sm){
		flex-direction: column;
		gap: 16px;
	}
}
