.c-contact {
	display: flex;
	text-align: justify;
	@include mq($until: md) {
		flex-direction: column;
		.c-form__row {
			flex-direction: column;
		}
	}

	form {
		display: flex;
		flex-wrap: wrap;
		gap: 18px;
		justify-content: space-between;

		p {
			&:nth-child(1), &:nth-child(2) {
			}

			&:nth-child(4), &:nth-child(5) {
				width: 100%;
			}

			margin: 0;
			width: calc(50% - 9px);
			@include mq($until: sm) {
				width: 100%;
			}
		}

		span {
			display: flex;
		}
	}

	p {
		color: var(--color-text);
		@include font-size(15px, 1.8);
		@include mq($until: md) {
			flex-direction: column;
		}

		a {
			color: var(--color-text);
			transition: color .2s linear;

			&:hover {
				color: var(--color-primary);
			}
		}

		svg {
			margin-left: 8px;
			margin-bottom: -4px;

			path {
				stroke: var(--color-secondary);
			}
		}
	}

	&__info, &__form {
		border: 1px solid var(--color-dark-20);
		border-radius: $border-radius;
		width: 50%;
		@include mq($until: md) {
			width: 100%;
		}
	}

	input[type=submit] {
		position: relative;
		@include font-size(16px, 1);
		line-height: 1.8;
		font-weight: 400;
		padding: .425em 1em .225em 1em;
		border-radius: 5rem;
		background: var(--color-primary);
		color: var(--color-white);
		display: flex;
		gap: .625em;
		align-items: center;
		text-align: center;
		justify-content: center;
		white-space: nowrap;
		height: 46px;
		cursor: pointer;
		transition: all .2s linear;

		&:hover {
			background: var(--color-secondary);
		}
	}

	.wpcf7-spinner {
		display: none;
	}

	.c-form {

		textarea {
			height: 9em;
			flex: auto;
		}
	}

	input, select {

		flex: 1;
		border: 1px solid #e5e8f0;
		border-radius: .5rem;
		padding: 8px;
		height: 28px;
		@include font-size(14px, 1.6);
		width: 100%;
		color: var(--color-text);
		text-align: right;
	}

	textarea {
		flex: 1;
		border: 1px solid #e5e8f0;
		border-radius: .5rem;
		padding: 1em;
		height: 15em;
		@include font-size(14px, 1.8);
		color: var(--color-text);
		width: 100%;
		resize: none;
	}

	.wpcf7-response-output {
		width: 100%;
		border-radius: 8px;
		padding: 10px 16px !important;
		@include font-size(14px, 1.8);
		margin-top: 0 !important;
	}

	.invalid {
		.wpcf7-response-output {
			border: 1px solid #ff6363 !important;;
			color: #ff6363 !important;
		}
	}

	.sent {
		.wpcf7-response-output {
			border: 1px solid var(--color-secondary) !important;;
			color: var(--color-secondary) !important;
		}
	}

	.validating {
		.wpcf7-response-output {
			display: none;
		}
	}

	.wpcf7-not-valid-tip {
		position: absolute;
		top: -10px;
		background: white;
		font-size: 12px;
		right: 14px;
		padding: 0 8px;
	}
}

#submit-order {
	background: var(--color-primary);
	color: var(--color-white);
	border: none;
	padding: 12px 16px;
	border-radius: $border-radius;
	float: left;
}

.title-left {
	display: flex;
	align-items: center;
	justify-content: space-between;
	white-space: nowrap;
	gap: 12px;
	@include font-size(21px, 1.6);
	color: var(--color-dark);

	&:after {
		content: "";
		left: 0;
		right: 0;
		width: 100%;
		height: 1px;
		background: var(--color-dark-20);
		position: relative;
		display: inline-block;
	}
}
