.w-100 {
	width: 100%;
}

.h-100 {
	height: 100%;
}

.p-0 {
	padding: 0;
}

.pt-0 {
	padding-top: 0;
}
.padding-md{
	padding: 16px;
}
.m-0 {
	margin: 0;
}

.border-radius {
	border-radius: $border-radius;
}

.radius-rounded-btm-lft {
	border-radius: 0 0 50px 0;
}

.txt-justify {
	text-align: justify;
}
.txt-left{
	text-align: left;
}
.txt-right{
	text-align: right;
}
.relative {
	position: relative;
}

.color-primary {
	color: var(--color-primary);
}

.bg-white {
	background: var(--color-white);
}

.bg-gray {
	background: var(--bg-gray);
}

.bg-gradiant-top-btm {
	background: linear-gradient(0deg, #031232 0%, #244065 100%);
}

.bg-gradiant-btm-top {
	background: linear-gradient(0deg, #244065 0%, #031232 100%);
}
.items-start{
	align-items: flex-start;
}
