.error-404 {
	margin-bottom: 64px;

	.page-content {
		background: var(--color-white);
		border-radius: $border-radius;
		margin-bottom: 48px;

		.error-404-txt {
			margin-top: -64px;
			z-index: 1;
		}

		p {
			@include font-size(18px, 1.6);
			color: var(--color-primary);
		}

		a {
			background: var(--color-secondary);
			color: var(--color-white);
			padding: 16px 24px;
			&:hover{
				background: var(--color-primary);
			}
		}

		.lottie-404 {
			width: 460px;
			height: 460px;
			@include mq($until: sm) {
				width: 360px;
				height: 360px;
			}
		}
	}
}
