.c-faq {
	overflow: auto;
	margin-top: 32px;
	@include mq($until: md) {
		-webkit-mask-image: linear-gradient(90deg, transparent 0%, #000 4%);
	}

	&__content {
		scroll-margin-top: 80px;
	}

	&__subject {
		@include mq(md) {
			flex-wrap: wrap;
		}
		@include mq($until: desktop) {
			overflow: auto;
		}

		li {
			@include mq(md) {
				width: calc(33.33% - 8px);
				flex: auto;
			}

			a {
				white-space: nowrap;
				background: var(--color-primary);
				transition: all .2s linear;
				@include font-size(14px, 1.2);
				color: var(--color-white);
				justify-content: center;

				&:hover {
					background: var(--color-secondary);
				}
			}
		}
	}

	h2 {
		@include font-size(18px, 1.6);
	}
}

//faq
.faq {
	background: var(--color-white);
	border-radius: $border-radius;
	padding: 16px 32px;
	@include font-size(14px, 1.8);
	@include mq($until: md) {
		padding: 16px 24px;
	}
}

.faq-answer {
	display: none;
}

.faq-item {
	padding: 10px 0;
	color: var(--color-text);

	&:not(:last-child) {
		border-bottom: 1px solid #e9edf3;
	}

	svg {
		height: 18px;
		width: 18px;
		transition: transform .3s ease-in-out, stroke .3s ease-in-out, fill .3s ease-in-out, -webkit-transform .3s ease-in-out;
	}

	&.active {
		.faq-question {
			color: var(--color-secondary);
		}

		svg {
			transform: rotate(180deg);
			stroke: var(--color-secondary);
		}
	}

	img {
		margin-top: 24px;
	}
}

.faq-toggle {
	color: #492464;
	@include font-size(28px, 1.6);
}

.faq-item-content {
	display: flex;
	flex-direction: column;
}

.faq-question {
	display: flex;
	justify-content: space-between;
	width: 100%;
	cursor: pointer;
	align-items: center;
	font-weight: 700;
}
