.c-section--faq {
	padding: 34px 0 86px 0;
	.sec-title {
		color: var(--color-primary);
	}
}

.c-faq {
	&__img {
	width: 40%;
		img{
			max-height: 580px;
			width: auto;
		}
	}
	&__desc{
		width: 54%;
	}
}
.faq-container {
	margin: 40px auto;
}

.faq-item {
	border: 1px solid var(--color-primary-20);
	border-radius: 10px;
	margin-bottom: 16px;
	overflow: hidden;
	transition: all 0.3s ease;
}

.faq-question {
	background: none;
	border: none;
	width: 100%;
	text-align: right;
	padding: 16px 20px;
	color: var(--color-primary-80);
	@include font-size(18px,1.8);
	display: flex;
	justify-content: space-between;
	align-items: center;
	cursor: pointer;
}
.faq-item.active .faq-question{
	color: var(--color-primary);
	font-weight: bold;
}
.faq-answer {
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.4s ease, padding 0.4s ease;
	padding: 0 20px;
	margin: 0;
}

.faq-answer p {
	color: var(--color-text-grey);
	@include font-size(16px,1.8);
	margin: 0;
}

.faq-item.active .faq-answer {
	max-height: 400px;
	padding: 10px 20px 20px;
}

.arrow {
	background-image: url('data:image/svg+xml,<svg width="47" height="47" viewBox="0 0 47 47" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M39.01 17.5273L26.2416 30.2957C24.7337 31.8036 22.2662 31.8036 20.7583 30.2957L7.98996 17.5273" stroke="%232D4B74" stroke-opacity="0.8" stroke-width="2.9375" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/></svg>');
	height: 24px;
	width: 24px;
	background-size: contain;
	background-repeat: no-repeat;
	transition: transform 0.3s ease;
}

.faq-item.active .arrow {
	transform: rotate(180deg);
}
