.c-home-blog {
	.c-slider-blogs {
		.carousel-cell {
			width: 100%;
			box-sizing: border-box;
			border: 1px solid #ddd;
			border-radius: 12px;
			margin-left: 8px;
			transition: all .2s linear;
			@include mq($from: md) {
				height: 100%;
			}
			@include mq($from: sm, $until: md) {
				width: calc(50% - 4px);
			}
			@include mq($until: sm) {
				width: 75%;
			}

			&:hover {
				border: 1px solid var(--color-secondary);

				.c-btn-read-more a {
					color: var(--color-secondary);

					&:after {
						filter: grayscale(0);
					}
				}
			}
		}

		.c-blog__img {
			img {
				height: 250px;
				@include mq($until: sm) {
					height: 146px;
				}
			}
		}

		.c-home-blog__item-info {
			.c-blog__meta {
				p {
					color: var(--color-text);
					@include font-size(13px, 1.6);

					svg {
						vertical-align: middle;
						margin-bottom: 4px;
						margin-left: 4px;
					}
				}
			}

			.c-blog__info > p {
				display: -webkit-box;
				-webkit-box-orient: vertical;
				-webkit-line-clamp: 4;
				overflow: hidden;
				height: 90px;
				margin: 0 0 8px;
				color: var(--color-text);
				@include font-size(14px, 1.6);
			}

			a {
				font-weight: 700;
				color: var(--color-secondary);
				display: -webkit-box;
				-webkit-box-orient: vertical;
				-webkit-line-clamp: 1;
				overflow: hidden;
				height: 18px;
			}
		}
	}

	.c-podcast {
		img {
			height: 160px;
			@include mq($until: desktop) {
				height: 120px;
			}
		}

		svg {
			max-width: 100%;
		}

		&__title {
			@include mq($until: desktop) {
				@include font-size(16px, 1.6);
			}
		}
	}

	&__content {
		@include mq($until: sm) {
			flex-direction: column !important;
		}
		@include mq($from: sm, $until: md) {
			flex-wrap: wrap;
		}

		.c-news {
			a {
				border: 1px solid #ddd;
				color: var(--color-text);
				border-radius: 12px;
				transition: all .2s linear;

				h3 {
					margin-top: 8px;
					transition: all .2s linear;
					width: calc(100% - 60px);
					@include font-size(16px, 1.6);
				}

				p {
					@include font-size(14px, 1.6);
				}

				.tag {
					left: 18px;
					top: 18px;
					background: #B9B9B9;
					text-align: center;
					padding: 6px 18px;
					color: var(--color-white);
					border-radius: 6px;
					@include font-size(14px, 1.2);
					transition: all .2s linear;
				}

				&:hover {
					border: 1px solid var(--color-secondary);

					h3 {
						color: var(--color-secondary);
					}

					.tag {
						background: var(--color-secondary);
					}
				}
			}
		}

		> li:nth-child(2) {
			border: 1px solid #ddd;
			border-radius: 12px;
			@include mq($from: sm, $until: md) {
				width: 50%;
			}
		}

		li:first-child {
			flex: 1.3;
			@include mq($until: md) {
				width: 100%;
				flex: auto;
			}
		}

		> li:last-child {
			max-height: 500px;
			overflow: auto;
			-webkit-mask-image: -webkit-gradient(linear, left bottom, left top, from(transparent), color-stop(10%, #000));
			-webkit-mask-image: linear-gradient(0, transparent, #000 10%);
			flex: 1.3;
			@include mq($from: sm, $until: md) {
				width: 50%;
			}
		}
	}
}

.c-btn-read-more a {
	color: var(--color-text);
	@include font-size(14px, 1.6);

	&:after {
		content: "";
		background: url('data:image/svg+xml,<svg width="7" height="13" viewBox="0 0 7 13" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M5.87952 12.0721L1.26118 7.45372C0.715765 6.9083 0.715765 6.0158 1.26118 5.47039L5.87952 0.852051" stroke="%2377B042" stroke-width="1.70433" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/></svg>') no-repeat;
		width: 14px;
		height: 12px;
		display: flex;
		filter: grayscale(1);
		background-size: contain;
	}

	&:hover {
		&:after {
			filter: grayscale(0);
		}
	}
}
