.c-introduction {
	.c-sec-title h2 {
		margin-right: 0;
		@include mq($until: md) {
			margin: auto;
		}
	}

	h3 {
		@include mq($until: md) {
			text-align: center;
		}
	}

	&__txt {
		flex: 2;

		.more-after {
			@include font-size(14px, 1.6);
			color: var(--color-secondary);

			&:after {
				content: "";
				background: url('data:image/svg+xml,<svg width="47" height="47" viewBox="0 0 47 47" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M38.9849 17.5159L26.2246 30.2762C24.7176 31.7831 22.2516 31.7831 20.7447 30.2762L7.98438 17.5159" stroke="%2377B042" stroke-width="2.93565" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/></svg>') no-repeat;
				width: 18px;
				height: 18px;
				display: flex;
				background-size: contain;
			}
		}
	}

	&__img {
		flex: 1.3;
		display: flex;
		padding: 32px 0;

		//&:before {
		//	content: "";
		//	bottom: 0;
		//	right: 0;
		//	left: 0;
		//	top: 37%;
		//	background: #77b0424f;
		//	border-radius: $border-radius;
		//	position: absolute;
		//	z-index: -1;
		//}

		img {
			object-fit: cover;
			width: 85%;
			border: 1px solid var(--color-white);
		}
	}

	.tabs {
		display: flex;
		justify-content: center;
		gap: 10px;
		margin-bottom: 20px;
		position: relative;
		border-bottom: 1px solid var(--color-grey);
	}

	.tab {
		padding: 24px 16px;
		cursor: pointer;
		border-radius: 8px;
		transition:all linear .3s;
		color: #919191;
		position: relative;
		@include mq($until: sm) {
			padding: 16px 10px;
			@include font-size(14px, 1.6);
		}
	}

	.tab.active {
		color: var(--color-primary);
		font-weight:700;
	}

	.tab::after {
		content: "";
		position: absolute;
		left: 0;
		bottom: -1px;
		width: 0;
		height: 4px;
		background: var(--color-primary);
		border-radius: 3px;
		transition: .3s;
	}

	.tab.active::after {
		width: 100%;
	}

	.pane {
		display: none;
		opacity: 0;
		transform: translateY(10px);
		transition: .4s;
		@include mq($until: md) {
			flex-direction: column;
			gap: 16px;
		}
	}

	.pane.active {
		display: flex;
		opacity: 1;
		transform: translateY(0);
	}

	p {
		@include font-size(14px, 1.8);
		color: var(--color-text);
	}
}
