.c-introduction {
	.c-sec-title h2 {
		margin-right: 0;
		@include mq($until: md) {
			margin: auto;
		}
	}

	h3 {
		@include mq($until: md) {
			text-align: center;
		}
	}

	&__txt {
		flex: 2;

		.more-after {
			@include font-size(14px, 1.6);
			color: var(--color-secondary);

			&:after {
				content: "";
				background: url('data:image/svg+xml,<svg width="47" height="47" viewBox="0 0 47 47" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M38.9849 17.5159L26.2246 30.2762C24.7176 31.7831 22.2516 31.7831 20.7447 30.2762L7.98438 17.5159" stroke="%2377B042" stroke-width="2.93565" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/></svg>') no-repeat;
				width: 18px;
				height: 18px;
				display: flex;
				background-size: contain;
			}
		}
	}

	&__img {
		flex: 1.3;
		display: flex;
		padding: 32px 0;

		//&:before {
		//	content: "";
		//	bottom: 0;
		//	right: 0;
		//	left: 0;
		//	top: 37%;
		//	background: #77b0424f;
		//	border-radius: $border-radius;
		//	position: absolute;
		//	z-index: -1;
		//}

		img {
			object-fit: cover;
			width: 85%;
			border: 1px solid var(--color-white);
		}
	}

	.tabs {
		display: flex;
		justify-content: center;
		margin-bottom: 20px;
		position: relative;
		@include mq($until:desktop){
		gap: 12px;
		}
	}

	.tab {
		flex: 1;
		border-radius: 12px;
		color: var(--color-primary);
		padding: 10px 18px;
		@include font-size(18px, 1.8);
		border: 1px solid #EAF3FF;
		transition: all .2s linear;
		cursor: pointer;
		@include mq($until:desktop){
			@include font-size(14px,1.6);
		}
		@include mq($until:sm){
			padding: 10px 12px;
			text-align: center;
		}
		img {
			height: 56px;
			@include mq($until:desktop){
				display: none;
			}
		}

		&:after {
			content: "";
			background-image: url('data:image/svg+xml,<svg width="18" height="19" viewBox="0 0 18 19" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9.00001 1.66944C4.77978 1.66944 1.35854 5.02732 1.35854 9.1694C1.35854 13.3115 4.77978 16.6694 9.00001 16.6694C13.2203 16.6694 16.6415 13.3115 16.6415 9.1694C16.6415 5.02732 13.2203 1.66944 9.00001 1.66944Z" stroke="%232D4B74" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"/><path d="M9 6.49501V11.0799" stroke="%232D4B74" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"/><path d="M6.75 9.55185L8.99999 11.8443L11.25 9.55185" stroke="%232D4B74" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"/></svg>');
			height: 32px;
			width: 32px;
			background-size: contain;
			left: 18px;
			position: absolute;
			background-repeat: no-repeat;
			transition: all .3s ease;
			@include mq($until:md){
				display: none;
			}
		}
	}

	.tab.active, .tab:hover {
		background: var(--color-primary);
		color: var(--color-white);
		border: 1px solid var(--color-primary);

		&:after {
			transform: rotate(180deg);
			filter: brightness(12);
		}
	}

	.pane {
		display: none;
		opacity: 0;
		transform: translateY(10px);
		transition: .4s;

		ul {
			@include mq($until: 1000px) {
				flex-wrap: wrap;
			}
			li {
				transition: all .2s linear;
				border-radius: 12px;
				padding: 8px;
				border: 1px solid var(--color-white);

				.pane-content {
					background: #F3FCFF;
					border-radius: $border-radius;
					padding: 16px;
					@include mq($until:sm){
						padding: 12px;
					}
				}

				span {
					background: var(--color-white);
					width: 68px;
					height: 68px;
					border-radius: 50%;
					align-items: center;
					transition: border .2s linear;
					border: 1px solid var(--color-white);
				}

				h3 {
					a {
						color: var(--color-primary);
						transition: color .2s linear;
						@include font-size(14px, 1.8);

						&:hover {
							color: var(--color-secondary);
						}
					}
				}

				.btn-more {
					background: var(--color-white);
					color: var(--color-primary);
					border-radius: 12px;
					padding: 12px 18px;
					@include font-size(14px, 1.6);
					transition: all .2s linear;

					svg {
						height: 24px;
						width: 24px;
					}

					&:hover {
						background: var(--color-primary);
						color: var(--color-white);

						path {
							stroke: var(--color-white);
						}
					}
				}

				&:hover {
					cursor: pointer;
					border: 1px solid #CBE3EB;

					span {
						border: 1px solid var(--color-primary);
					}
				}
			}
		}

		&.pane-first {
			li {
				width: calc(20% - 5px);
				@include mq($from:md,$until:desktop){
					width: calc(33.33% - 24px);
				}
				@include mq($from:sm,$until:md){
					width: calc(50% - 22px);
				}
				@include mq($until:sm){
					width: 100%;
				}
			}
		}

		.pane-second {
			li {

			}
		}

		.pane-third {
			li {

			}
		}

		@include mq($until: md) {
			flex-direction: column;
			gap: 16px;
		}
	}

	.pane.active {
		display: flex;
		opacity: 1;
		transform: translateY(0);
	}

	p {
		@include font-size(14px, 1.8);
		color: var(--color-text);
	}
}
