.c-section--landing-content {
	h2 {
		margin: 0.5em 0;
		font-weight: 700;
		color: var(--color-dark-01);
		@include font-size(20px, 1.8);
		@include mq($until: sm) {
			@include font-size(18px, 1.8);
		}

		&:after {
			content: "";
			background: url(../images/arrow-left-down.svg) no-repeat;
			height: 64px;
			width: 64px;
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			background-size: contain;
			position: absolute;
			left: -68px;
			top: -4px;
			transform: rotate(90deg);
			animation: float 4s ease-in-out infinite;
		}

		@include mq($until: sm) {
			&:after {
				height: 48px;
				width: 48px;
				left: 0;
				top: 36px;
			}
		}
	}

	h3 {
		margin: 0 0 .5em;
		@include font-size(18px, 1.8);
		font-weight: 700;
		color: var(--color-dark-01);
		@include mq($until: sm) {
			@include font-size(16px, 1.8);
		}
	}

	h4 {
		margin: 0 0 .5em;
		@include font-size(16px, 1.8);
		font-weight: 700;
		color: var(--color-dark-01);
	}

	h2{
		z-index: 0;
		&:before {
			content: "";
			width: 48%;
			height: 26px;
			background: #dcebf9;
			position: absolute;
			bottom: 6px;
			right: 0;
			z-index: -1;
		}
	}

	h2, h3, h4 {
		position: relative;
		width: max-content;
		max-width: 100%;
		color: var(--color-text);
	}

	a {
		color: var(--color-secondary);
		transition: color .2s linear;

		&:hover {
			color: var(--color-secondary-80);
		}
	}

	.txt, p, li {
		@include font-size(16px, 1.8);
		margin: 0 0 0.5em;
		font-weight: 400;
		color: var(--color-text);

		.c-blog & {
			display: block;
			min-height: 20px;
		}

		strong {
			color: var(--color-dark-01);
			font-weight: 700;
		}
	}

	li {
		position: relative;

		&:before {
			position: absolute;
			content: "";
			width: 6px;
			height: 6px;
			right: -14px;
			border-radius: 50%;
			top: 12px;
			background: var(--color-secondary);
		}
	}

	img {
		max-width: 100%;
		border-radius: $border-radius;
		object-fit: contain;
		height: auto;
	}

	pre {
		margin: 0;
	}

	ol {
		margin: .5em 0;
		padding: 0;
		list-style: persian;
		list-style-position: inside;

		li {
			text-align: justify;
			@include font-size(16px, 2);

			&::marker {
				color: var(--color-dark-03);
			}
		}
	}

	ul {
		margin: .5em 0;
		padding: 0 1em 0 0;

		li {
			text-align: justify;
			@include font-size(15px, 1.8);

			&::marker {
				color: var(--color-dark-03);
			}

			strong {
				color: var(--color-dark-01);
				font-weight: 700;
			}
		}
	}

	.wp-block-table {
		border: 1px solid var(--color-grey-03);
		border-radius: $border-radius;
		padding: 0;
		max-height: 28em;
		overflow-y: auto;
		margin-bottom: 1em;

		tbody {
			display: block;
		}
	}

	video {
		max-height: 440px;
		border-radius: $border-radius;
		max-width: 100%;
		margin: auto;
		min-width: 50%;
	}

	.txt-img-text {
		flex: 1.5;
	}

	.full-width-img img {
		max-height: 360px;
		object-fit: contain;
		width: auto;
		margin: auto;
	}

	.txt-txt, .txt-img, .img-img, .img-txt {
		@include mq($until: sm) {
			flex-direction: column;
		}
	}

	.txt-img, .txt-txt, .img-txt {
		gap: 32px;
	}
}

.c-landing {
	&__content {
		gap: 32px;

		div {
			max-width: 100%;
		}

		> div {
			&:nth-child(2n+1), &:last-child {
				background: var(--color-white);
				border-radius: $border-radius;
				padding: 24px;
				@include mq($until:sm){
					padding: 16px;
				}
			}
			&:last-child{
				position: relative;
				border-radius: 0 $border-radius;
				border-right: 3px solid var(--color-secondary);
				border-left: 3px solid var(--color-secondary);
			}
		}
	}
}
