.c-reason {
	&__info {
		flex: 1.2;

		h2 {
			color: var(--color-primary-dark);
			@include font-size(28px, 1.6);
			width: max-content;
			position: relative;
			@include mq($from: sm, $until: md) {
				@include font-size(22px, 1.6);
			}
			@include mq($until: sm) {
				@include font-size(18px, 1.6);
			}

			&:after {
				content: "";
				background: url("../images/arrow-left-down.svg") no-repeat;
				height: 76px;
				width: 76px;
				display: flex;
				background-size: contain;
				position: absolute;
				left: -86px;
				top: 0;
				transform: rotate(90deg);
				animation: float 4s ease-in-out infinite;
				@include mq($until: md) {
					left: -64px;
				}
			}

			&:before {
				content: "";
				width: 70%;
				height: 26px;
				background: #dcebf9;
				position: absolute;
				bottom: 0;
				left: -14px;
				z-index: -1;
			}
		}

		div {
			@include font-size(16px, 1.8);
			color: var(--color-text);
		}

		.c-btn-read-more a {
			&:hover {
				color: var(--color-secondary);
			}
		}

		@include mq($until: md) {
			align-items: center;
		}
	}

	&__img {
		flex: 1;
		justify-content: flex-end;

		img {
			max-width: 100%;
			@include mq($until: md) {
				max-height: 300px;
				height: 264px !important;
				width: auto !important;
			}
		}

		&:after {
			content: "";
			background: url("../images/shape.svg");
			position: absolute;
			height: 310px;
			width: 320px;
			background-size: contain;
			background-repeat: no-repeat;
			z-index: -1;
			animation: float 4s ease-in-out infinite;
			@include mq($until: md) {
				height: 264px;
			}
		}
	}

	@include mq($from: md, $until: desktop) {
		gap: 24px !important;
	}
	@include mq($until: md) {
		gap: 16px !important;
		flex-direction: column;
	}
}

.c-sec-title {
	h2 {
		color: var(--color-primary-dark);
		@include font-size(28px, 1.6);
		width: max-content;
		position: relative;
		margin: 0 auto;
		@include mq($from: sm, $until: md) {
			@include font-size(22px, 1.6);
		}
		@include mq($until: sm) {
			@include font-size(18px, 1.6);
		}

		&:after {
			content: "";
			background: url("../images/arrow-down.svg") no-repeat;
			height: 80px;
			width: 80px;
			display: flex;
			background-size: contain;
			position: absolute;
			right: -74px;
			top: 0;
			transform: rotate(90deg);
			animation: float 4s ease-in-out infinite;
		}

		&:before {
			content: "";
			width: 70%;
			height: 26px;
			background: #dcebf9;
			position: absolute;
			bottom: 0;
			left: -14px;
			z-index: -1;
		}
	}

	h3 {
		color: var(--color-primary);
		@include font-size(20px, 1.6);
		@include mq($until: md) {
			@include font-size(16px, 1.6);
		}
	}
}

