.c-reason {
	> p {
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 2;
		overflow: hidden;
		height: 54px;
		margin: 0;
		@include font-size(14px, 1.8);
		color: var(--color-text);
	}

	ul {
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		grid-template-rows: repeat(2, 1fr);
		color: var(--color-text);

		img {
			width: 28px;
			height: 28px;
		}

		p {
			font-weight: 700;
			@include font-size(16px, 1.6);
			width: max-content;
			margin-top: 0;

			&:before {
				content: "";
				width: 55%;
				height: 18px;
				background: #dcebf9;
				position: absolute;
				bottom: 0;
				left: -14px;
				z-index: -1;
			}
		}

		span {
			@include font-size(14px, 1.6);
		}

		.dot {
			background: #DCEBF9;
			width: 16px;
			height: 16px;
			position: absolute;
			bottom: -8px;
			left: -7px;
			z-index: 1;
		}

		li {
			padding: 20px;
			text-align: center;
			position: relative;

			&:not(:nth-child(5n))::after {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				width: 1px;
				height: 100%;
				background-color: #ddd;
			}

			&:not(:nth-last-child(-n+5))::before {
				content: "";
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
				height: 1px;
				background-color: #ddd;
			}

			@include mq($from: md, $until: desktop) {
				&:not(:nth-child(4n))::after {
					content: "";
					position: absolute;
					top: 0;
					left: 0;
					width: 1px;
					height: 100%;
					background-color: #ddd;
				}
				&:not(:nth-last-child(-n+2))::before {
					content: "";
					position: absolute;
					bottom: 0;
					left: 0;
					width: 100%;
					height: 1px;
					background-color: #ddd;
				}
			}
			@include mq($from: sm, $until: md) {
				&:not(:nth-child(3n))::after {
					content: "";
					position: absolute;
					top: 0;
					left: 0;
					width: 1px;
					height: 100%;
					background-color: #ddd;
				}
				&:not(:nth-last-child(-n+1))::before {
					content: "";
					position: absolute;
					bottom: 0;
					left: 0;
					width: 100%;
					height: 1px;
					background-color: #ddd;
				}
			}
			@include mq($until: sm) {
				&:after {
					content: "";
					position: absolute;
					top: 0;
					left: 0;
					width: 1px;
					height: 100%;
					background-color: #ddd;
				}
				&:not(:nth-last-child(-n+2))::before {
					content: "";
					position: absolute;
					bottom: 0;
					left: 0;
					width: 100%;
					height: 1px;
					background-color: #ddd;
				}
			}

			&:nth-child(8), &:nth-child(9), &:nth-child(10) {
				.dot {
					display: none;
					@include mq($from: md, $until: desktop) {
						display: block;
						top: -8px;
						&:nth-child(8) {
							display: none;
						}
					}
					@include mq($until: md) {
						display: block;
						top: -8px;
					}
				}
			}
		}

		@include mq($from: md, $until: desktop) {
			grid-template-columns: repeat(4, 1fr);
			p {
				@include font-size(14px, 1.6);

				&:before {
					height: 12px;
					left: -8px;
				}
			}
		}
		@include mq($from: sm, $until: md) {
			grid-template-columns: repeat(3, 1fr);
			p {
				@include font-size(14px, 1.6);

				&:before {
					height: 12px;
					left: -8px;
				}
			}
		}
		@include mq($until: sm) {
			grid-template-columns: repeat(2, 1fr);
			p {
				@include font-size(14px, 1.6);

				&:before {
					height: 12px;
					left: -8px;
				}
			}
		}
	}
}

.c-sec-title {
	h2 {
		color: var(--color-primary-dark);
		@include font-size(28px, 1.6);
		width: max-content;
		position: relative;
		margin: 0 auto;
		@include mq($until:md) {
			@include font-size(22px, 1.6);
		}
		&:after {
			content: "";
			background: url("../images/arrow-down.svg") no-repeat;
			height: 76px;
			width: 76px;
			display: flex;
			background-size: contain;
			position: absolute;
			right: -74px;
			top: 0;
			transform: rotate(90deg);
			animation: float 4s ease-in-out infinite;
		}
		&:before {
			content: "";
			width: 70%;
			height: 26px;
			background: #dcebf9;
			position: absolute;
			bottom: 0;
			left: -14px;
			z-index: -1;
		}
	}

	h3 {
		color: var(--color-primary);
		@include font-size(20px, 1.6);
		@include mq($until:md) {
			@include font-size(16px, 1.6);
		}
	}
}

