.c-section--footer{
	background: #EDF5F7;
}
footer {
	background: var(--color-primary);
	margin-top: 24px;
}

.c-footer {
	p, a, span {
		color: var(--color-primary);
	}

	a:hover {
		color: var(--color-secondary);
	}

	&__top {
		ul {
			width: 85%;
			background: var(--color-primary-dark);
			margin: auto;
			padding: 18px 36px;
			margin-top: -46px;
			@include mq($from: sm, $until: md) {
				width: 100%;
			}
		}

		img {
			height: 28px;
			@include mq($from: sm, $until: md) {
				display: none;
			}
		}

		span {
			@include mq($from: sm, $until: md) {
				@include font-size(14px, 1.6);
			}
		}

		li {
			padding: 8px 0;
			position: relative;

			&:not(:last-child) {
				&:before {
					content: "";
					bottom: 0;
					top: 0;
					left: -8px;
					width: 1px;
					background: var(--color-white-40);
					position: absolute;
				}
			}
		}

		@include mq($until: sm) {
			display: none !important;
		}
	}

	&__bottom {
		border-bottom: 1px solid var(--color-primary-20);
		padding: 42px 0 24px;

		@include mq($until: md) {
			flex-wrap: wrap;
			gap: 24px !important;
		}
	}

	&__col {
		&:first-child {
			width: 40%;
			@include mq($from: sm, $until: md) {
				width: 44%;
			}
			@include mq($until: sm) {
				width: 100%;
			}
		}

		width: 20%;

		&:nth-child(2) {
			width: 15%;
			@include mq($from: sm, $until: md) {
				width: 17%;
			}
			@include mq($until: sm) {
				width: calc(45% - 12px);
			}
		}

		&:nth-child(3) {
			width: 25%;
			@include mq($from: sm, $until: md) {
				width: 30%;
			}
			@include mq($until: sm) {
				width: calc(55% - 12px);
			}
		}

		p, a, strong {
			@include font-size(14px, 2);
		}

		ul {
			padding-right: 8px;
		}

		&:last-child {
			margin: auto;
			@include mq($from: sm, $until: md) {
				width: 80%;
			}
			@include mq($until: sm) {
				width: 100%;
			}

			li {
				width: calc(50% - 8px);
				@include mq($until: md) {
					width: auto;
				}

				img {
					height: 86px;
					width: auto;
					@include mq($until: sm) {
						max-height: 74px;
						max-width: 100%;
					}
				}
			}

			ul {
				padding: 0;
				@include mq($until: sm) {
					flex-wrap: nowrap;
				}
			}
		}
	}

	&__title {
		color: var(--color-primary);
		@include font-size(18px, 1.8);
		font-weight: 700;
		@include mq($from: sm, $until: md) {
			@include font-size(14px, 1.8);
		}

		img {
			height: 48px;
		}
	}

	&__copyright {
		padding: 18px 0;
		border-top: 1px solid var(--color-white-40);
		@include mq($until: sm) {
			justify-content: flex-end !important;
			padding: 16px 0;
		}

		span {
			@include font-size(14px, 1.6);
			color: var(--color-primary-80);
			@include mq($until: sm) {
				display: none;
			}
		}

		a:hover svg path {
			stroke: var(--color-secondary);
		}
	}
}

//support box
.call-button {
	position: fixed;
	bottom: 36px;
	right: 36px;
	background-color: var(--color-primary);
	color: var(--color-white);
	width: 64px;
	height: 64px;
	border-radius: 50%;
	border: 1px solid var(--color-white);
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
	cursor: pointer;
	transition: transform 0.3s ease;
	z-index: 1000;
	animation: pulse-glow 1.8s infinite ease-in-out;
	overflow: visible;
}

.call-button:hover {
	transform: scale(1.1);
}

.chat-cards {
	position: fixed;
	bottom: 114px;
	right: 25px;
	display: flex;
	flex-direction: column;
	gap: 12px;
	opacity: 0;
	pointer-events: none;
	transform: translateY(30px);
	transition: all 0.4s ease;
	z-index: 999;

	img {
		object-fit: cover;
	}
}

.chat-cards.active {
	opacity: 1;
	pointer-events: auto;
	transform: translateY(0);
}

.chat-card {
	display: flex;
	align-items: center;
	background: var(--color-white);
	border-radius: $border-radius;
	box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
	padding: 10px 14px;
	min-width: 230px;
	animation: slideIn 0.4s ease forwards;
}

.chat-card img {
	width: 42px;
	height: 42px;
	border-radius: 50%;
	margin-left: 10px;
}

.chat-info {
	flex: 1;
}

.chat-info h4 {
	margin: 0;
	@include font-size(14px, 1.8);
	color: var(--color-white-80);
}

.chat-info p {
	margin: 3px 0 0;
	@include font-size(13px, 1.8);
	color: var(--color-white-80);
	display: flex;
	align-items: center;
	gap: 5px;

	svg {
		width: auto;
		height: 16px;
		vertical-align: middle;
		margin-left: 3px;

		path {
			fill: #77b042;
		}
	}
}

@keyframes slideIn {
	from {
		transform: translateY(15px);
		opacity: 0;
	}
	to {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes pulse-glow {
	0% {
		transform: scale(1);
		box-shadow: 0 0 0 rgba(158, 191, 181, 0.5);
	}
	50% {
		transform: scale(1.08);
		box-shadow: 0 0 25px rgba(158, 191, 181, 0.8);
	}
	100% {
		transform: scale(1);
		box-shadow: 0 0 0 rgba(158, 191, 181, 0.5);
	}
}

.call-button::before {
	content: "";
	position: absolute;
	inset: -6px;
	border-radius: 50%;
	background: conic-gradient(
			from 0deg,
			rgba(0, 174, 255, 0) 0deg,
			rgba(0, 174, 255, 1) 60deg,
			rgba(0, 174, 255, 0) 120deg,
			rgba(0, 174, 255, 0) 360deg
	);
	-webkit-mask: radial-gradient(farthest-side, transparent calc(100% - 4px), black 100%);
	mask: radial-gradient(farthest-side, transparent calc(100% - 4px), black 100%);
	animation: spin-shine 2s linear infinite;
	z-index: -1;
}

@keyframes spin-shine {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
