body,
html {
	font-family: $IRANSansX;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	scroll-behavior: smooth;

	&:before {
		transition: all .3s linear;
	}
}

body {
	color: #212121;
	background: #fff;
}

body:not(.home) {
	background: #f9f9f9;
}

#page {
	overflow-x: hidden;
}

.main {
	background-color: #fff;
}

a {
	text-decoration: none;
}

li {
	list-style: none;
}

.flickity-button:focus {
	box-shadow: none;
}

.flickity-button {
	border-radius: 0;
}

.carousel {
	display: none;
}

.carousel.flickity-enabled {
	display: block;
}

.carousel:after {
	content: 'flickity';
	display: none;
}

@include mq($from: md) {
	.carousel:after {
		content: '';
	}
}
/* scroll bar  */
::-webkit-scrollbar {
	width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
	box-shadow: inset 0 0 2px grey;
	border-radius: 6px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #253b5b;
	border-radius: 6px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background:#77b042;
}
